@keyframes toptext {
    from {
        top: 0px;
        padding-top: 0px;
        margin-top: 0px;
    }
    to {
        top: 120px;
    }
  }
  button{
      border: none;
  }
  .bold{
      font-weight: 700;
  }
  .special_head{
      font-size:40px ;
  }
  .special_text{
      font-size: 24px;
  }
  @keyframes ball {
    from {
        left: 0px;
        background-color: green;

    }
    to {
        right: 25px;
        background-color: yellow;
        
    }
  }