@import "./variable";
@keyframes bgimg {
    from{
        background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
    }
    to{
        background-image: url("./img/aboutus.jpg");
    }
}
@keyframes toptext {
    from {
        top: 0px;

    }
    to {
        top: 120px;
    }
  }
  button{
      border: none;
      border-radius: 20%;
  }
  h2{
    color: $blue;
    font-weight: 600;
}
 .pfont{
     font-size: larger;
 }
  @keyframes buttonslide {
    from {
        left: 0%;
        

    }
    to {
        left: 35%;
    
        
    }
  }
  