@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@-webkit-keyframes bgimg {
  from {
    background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
  }
  to {
    background-image: url("./img/aboutus.jpg");
  }
}
@keyframes bgimg {
  from {
    background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
  }
  to {
    background-image: url("./img/aboutus.jpg");
  }
}

@-webkit-keyframes toptext {
  from {
    top: 0px;
  }
  to {
    top: 120px;
  }
}

@keyframes toptext {
  from {
    top: 0px;
  }
  to {
    top: 120px;
  }
}

button {
  border: none;
  border-radius: 20%;
}

h2 {
  color: #090931;
  font-weight: 600;
}

.pfont {
  font-size: larger;
}

@-webkit-keyframes buttonslide {
  from {
    left: 0%;
  }
  to {
    left: 35%;
  }
}

@keyframes buttonslide {
  from {
    left: 0%;
  }
  to {
    left: 35%;
  }
}

body {
  font-family: 'Rubik', sans-serif;
}

body header .question_segment {
  height: 7vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .question_segment .input-group {
  height: 5vh;
  max-width: 40vw;
}

body header nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #090931;
}

body header nav .container .navbar-collapse ul li a {
  color: white !important;
  font-weight: bold;
}

body header nav .container .navbar-collapse ul li a:hover {
  color: goldenrod !important;
  font-size: larger;
}

body .showcase {
  background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  position: relative;
  -webkit-animation-name: bgimg;
          animation-name: bgimg;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 4s ease-out;
  transition: 4s ease-out;
}

body .showcase .showcase_cover {
  position: inherit;
}

body .showcase .showcase_cover .text_container {
  max-width: 500px;
  position: absolute;
  color: white;
  -webkit-animation-name: toptext;
          animation-name: toptext;
  position: relative;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .showcase .showcase_cover .text_container h1 {
  font-weight: bold;
  font-size: 45px;
}

body .showcase .showcase_cover .text_container button {
  background-color: goldenrod;
  color: white;
  font-weight: bold;
}

body .showcase .showcase_cover .text_container button:hover {
  background-color: goldenrod;
  color: white;
}

body .services {
  background-color: white;
  border-bottom: 2px solid #dadbe2;
}

body .services .services_flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .services .services_flex .service_container {
  width: 350px;
  height: 350px;
  margin-top: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

body .services .services_flex .service_container:hover {
  cursor: pointer;
  width: 400px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

body .services .services_flex .service_container .service_animation {
  background-color: #090931;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  min-width: 200px;
  height: 100px;
  top: 35%;
  left: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid white;
  border-radius: 10px;
  padding: 30px 10px;
}

body .services .services_flex .service_container .service_animation:hover {
  background-color: transparent;
  font-size: larger;
  border-radius: 0%;
}

body .services .services_flex .service_container .service_animation h5 {
  text-align: center;
  color: white;
}

body .services .services_flex .service_container .service_animation h5:hover {
  font-size: larger;
}

body .services .services_flex .first {
  background-image: url("./img/WhatsApp Image 2022-03-11 at 16.05.29 (1).jpeg");
}

body .services .services_flex .second {
  background-image: url("./img/house.png");
  margin-top: 1px;
  height: 290px;
}

body .services .services_flex .third {
  background-image: url("./img/WhatsApp Image 2022-03-11 at 16.05.29 (3).jpeg");
}

body .product {
  background-color: white;
}

body .product .card_flex {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .product .card_flex .card {
  margin: 10px;
  width: 500px !important;
}

body .product .card_flex .card img {
  height: 200px;
}

body .product .card_flex .card .card-body {
  text-align: center;
}

body .product .card_flex .card .card-body a {
  background-color: goldenrod !important;
  color: white !important;
  border: 1px solid;
}
/*# sourceMappingURL=style.css.map */