@import './utility';
@import './variable';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    font-family:'Rubik', sans-serif;
    header{
      .question_segment{
          height: 7vh;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .input-group{
              height: 5vh;
              max-width: 40vw;
          }
      }
    
    nav{
        
background-color: $blue;
        .container{
            .navbar-collapse{
               ul{
                   li{
                       a{
                           color:white !important;
                           font-weight: bold;
                       }
                   }
               }
            }

       
       }   
    }
}

    .showcase{
        background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        min-height: 80vh;
        width: 100%;
        position: relative;
        .showcase_cover{
            position: inherit;
            .showcase_circle{
                min-height: 80vh;
                width: 400px;
                // border-top-right-radius: 50%;
                // border-bottom-right-radius: 50%;
                -webkit-clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
                clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
                position: absolute;
            }
            .text_container{
                 min-width: 40%;
                 position: absolute;
                 color:white;
                animation-name: toptext;
                position: relative;
                animation-duration: 3s;
                 animation-delay: 0s;
                top: 130px;
                h1{
                    font-weight: bold;
                    font-size: 45px;
                }
                button{
                    background-color: $white;
                    color: $blue;
                    font-weight: bold;
                   
                }
                
            
                
                
            }

        }
    }
    // services
    .services{
        background-color: $white;
        h3{
            color: $blue;
            font-weight: 500;
        }
        .services_flex{
            justify-content: center;
            justify-content: space-around;
            .service_container{
               width: 400px;
               height: 300px;
               margin-top: 15px;
               background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
          :hover{
              cursor: pointer;
              height: 400px;
          }

              
            }
            .first{
                background-image: url("./img/WhatsApp\ Image\ 2022-03-11\ at\ 16.05.29\ \(1\).jpeg");
                
            }
            .second{
                background-image: url("./img/house.png");
                margin-top: 2px;
            }
            .third{
                background-image: url("./img/WhatsApp\ Image\ 2022-03-11\ at\ 16.05.29\ \(3\).jpeg");
            }
        }
    }

    
    .product{
        background-color:$grey;
        .card_flex{
            justify-content: space-around;
            
            
            .card{
               margin: 10px;
               width: 500px !important;
               box-shadow: 5px 10px 10px silver;
               
               img{
            
                   height: 200px;
               }
               .card-body{
                a{
                    background-color: $white !important;
                    color: $blue !important;
                    border: 1px solid $blue;
                }
               }
            }
        }
    
    }

}