@import './utility';
@import './variable';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    font-family:'Rubik', sans-serif;
    header{
      .question_segment{
          height: 7vh;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .input-group{
              height: 5vh;
              max-width: 40vw;
          }
      }
    
    nav{
        
background-color: $blue;
        .container{
            .navbar-collapse{
               ul{
                   li{
                       a{
                           color:white !important;
                           font-weight: bold;
                       }
                   }
               }
            }

       
       }   
    }
}

    .showcase{
        background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        min-height: 80vh;
        width: 100%;
        position: relative;
        .showcase_cover{
            position: inherit;
            .showcase_circle{
                min-height: 80vh;
                width: 400px;
                // border-top-right-radius: 50%;
                // border-bottom-right-radius: 50%;
                -webkit-clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
                clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
                position: absolute;
            }
            .text_container{
                 min-width: 50%;
                 position: absolute;
                 color:white;
                animation-name: toptext;
                position: relative;
                animation-duration: 3s;
                 animation-delay: 0s;
                top: 70px;
                button{
                    background-color: $white;
                    color: $blue;
                }
                
            
                
                
            }

        }
    }
    // savecost

    .savecost{
        width: 100%;
        height: auto;
        background-color:$white;
        .savecost_flex{
            align-items: center;
           .savecost_text{
               min-width: 500px;
               button{
                   background-color:$blue;
                   color: $white;
               }

               .play{
                   margin-left: 250px;
                   .play1{
                       width: 50px;
                       height: 50px;
                       border-radius: 50%;
                       animation-name: ball;
                       animation-duration: 1s;
                       position: relative;
                       animation-iteration-count: infinite;
                   }
                   .play2{
                    width: 80px;
                    height: 70px;
                    border-radius: 50%;
                    animation-name: ball;
                  animation-duration: 3s;
                  background-color: $white;
                    position: relative;
                    animation-iteration-count: infinite;
                   }
               }
               
            
           }
           .savecost_img{

             img{
                 width: 600px;
                 height: 400px;
             }
           }
       }
    }
    .product{
        background-color:$white;
        .card_flex{
            justify-content: space-around;
            
            
            .card{
               margin: 10px;
               width: 500px !important;
               box-shadow: 5px 10px 10px silver;
               
               img{
            
                   height: 200px;
               }
               .card-body{
                a{
                    background-color: $white !important;
                    color: $blue !important;
                    border: 1px solid $blue;
                }
               }
            }
        }
    
    }

}