@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@-webkit-keyframes toptext {
  from {
    top: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
  to {
    top: 120px;
  }
}
@keyframes toptext {
  from {
    top: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
  to {
    top: 120px;
  }
}

button {
  border: none;
  border-radius: 20%;
}

.bold {
  font-weight: 700;
}

.special_head {
  font-size: 40px;
}

.special_text {
  font-size: 24px;
}

@-webkit-keyframes ball {
  from {
    left: 0px;
    background-color: green;
  }
  to {
    right: 25px;
    background-color: yellow;
  }
}

@keyframes ball {
  from {
    left: 0px;
    background-color: green;
  }
  to {
    right: 25px;
    background-color: yellow;
  }
}

body {
  font-family: 'Rubik', sans-serif;
}

body header .question_segment {
  height: 7vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .question_segment .input-group {
  height: 5vh;
  max-width: 40vw;
}

body header nav {
  background-color: #090931;
}

body header nav .container .navbar-collapse ul li a {
  color: white !important;
  font-weight: bold;
}

body .showcase {
  background-image: url("./img/solar-cell-farm-power-station-alternative-energy-from-sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  position: relative;
}

body .showcase .showcase_cover {
  position: inherit;
}

body .showcase .showcase_cover .showcase_circle {
  min-height: 80vh;
  width: 400px;
  -webkit-clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
  position: absolute;
}

body .showcase .showcase_cover .text_container {
  min-width: 40%;
  position: absolute;
  color: white;
  -webkit-animation-name: toptext;
          animation-name: toptext;
  position: relative;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 130px;
}

body .showcase .showcase_cover .text_container h1 {
  font-weight: bold;
  font-size: 45px;
}

body .showcase .showcase_cover .text_container button {
  background-color: #ffffff;
  color: #090931;
  font-weight: bold;
}

body .services {
  background-color: #ffffff;
}

body .services h3 {
  color: #090931;
  font-weight: 500;
}

body .services .services_flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .services .services_flex .service_container {
  width: 400px;
  height: 300px;
  margin-top: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .services .services_flex .service_container :hover {
  cursor: pointer;
  height: 400px;
}

body .services .services_flex .first {
  background-image: url("./img/WhatsApp Image 2022-03-11 at 16.05.29 (1).jpeg");
}

body .services .services_flex .second {
  background-image: url("./img/house.png");
  margin-top: 2px;
}

body .services .services_flex .third {
  background-image: url("./img/WhatsApp Image 2022-03-11 at 16.05.29 (3).jpeg");
}

body .product {
  background-color: #d7daf7;
}

body .product .card_flex {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .product .card_flex .card {
  margin: 10px;
  width: 500px !important;
  -webkit-box-shadow: 5px 10px 10px silver;
          box-shadow: 5px 10px 10px silver;
}

body .product .card_flex .card img {
  height: 200px;
}

body .product .card_flex .card .card-body a {
  background-color: #ffffff !important;
  color: #090931 !important;
  border: 1px solid #090931;
}
/*# sourceMappingURL=style.css.map */